body {
    background-image: url("img/tlo.png");
    font-family: 'Noto Serif', serif;
    margin: 0;
}

h1.logo 
{
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(85, 85, 85);
    text-transform: uppercase;
    width: 1100px;
    height: 130px;
    padding-top: 20px;
    background-color: rgb(185, 229, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-left: 3px solid rgb(69, 201, 224);
    border-right: 3px solid rgb(69, 201, 224);
    border-top: 3px solid rgb(69, 201, 224);
    border-bottom: 3px solid rgb(69, 201, 224);
    margin-bottom: 0;
}

ul.menuglowne {
    list-style-type: none;
    font-size: 26px;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    background-color:  rgb(78, 186, 248);
    width: 1000px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-left: 3px solid rgb(185, 229, 255);
    border-right: 3px solid rgb(185, 229, 255);
    border-bottom: 3px solid rgb(185, 229, 255); 
    margin-top: 0;   

}

ul.menuglowne > li {
    display: inline-block;
    padding-left: 9px;
    padding-right: 9px;
    border-left: 1px dashed rgb(85, 85, 85);
    text-align: center;


}
ul.menuglowne > li:last-child 
{
    border-right: 1px dashed rgb(85, 85, 85)
}

ul.menuglowne a {
    text-decoration: none;
    color:  rgb(66, 66, 66);
}

.wstep {
    background-color: rgb(233, 247, 255);
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-size: 20px;
    color: rgb(85, 85, 85);
    padding-top: 5px;
    border-left: 3px solid rgb(78, 186, 248);
    border-right: 3px solid rgb(78, 186, 248);
    border-top: 3px solid rgb(78, 186, 248);
    border-bottom: 3px solid rgb(78, 186, 248);
}

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: rgb(85, 85, 85);
}

.container {
    width: 1000px;
    background-color: rgb(204, 230, 245);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid rgb(78, 186, 248);
    border-left: 3px solid rgb(78, 186, 248);
    border-right: 3px solid rgb(78, 186, 248);
    border-bottom: 3px solid rgb(78, 186, 248);

}

.img {
    display: inline-block;
    margin-top: 10px;
   
    
}

figure {
    margin: 0;
    padding: 0;
    
}

figcaption {

    margin:0;
    font-weight: 700;
    font-size: 20px;
    color: rgb(85, 85, 85);
    padding:0

}

.img a{
    opacity: 0.95;
}

.img a:hover{
    opacity: 1;
    
}

a:active {
    text-decoration: none;
}

.contact {
    width: 1100px;
    height: 275px;
    border: 3px solid rgb(10, 164, 253);
    background-color: rgb(129, 201, 243);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    color: rgb(36, 36, 36);
    font-size: 19px;

}

.bluebutton {
    background-color: #1c74b2;
    padding: 15px;
    color: rgb(22, 22, 22);
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.bluebutton:hover {
    background-color: #0f4268;
    color: rgb(218, 214, 214);
}

.socials
{
	width:100%;
	text-align: center;
	background-color: #bde3ff;
}

.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.fb
{
	width: 250px;
	height: 155px;
	float:left;
}

.fb:hover
{
	background-color: #4668b3;
}

.yt
{
	width: 250px;
	height: 155px;
	float:left;
}

.yt:hover
{
	background-color: #d94348;
}

.tw
{
	width: 250px;
	height: 155px;
	float:left;
}

.tw:hover
{
	background-color: #3095d3;
}

.gplus
{
	width: 250px;
	height: 155px;
	float:left;
}

.gplus:hover
{
	background-color: #d95333;
}

.info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    width:100%;
	text-align: center;
	background-color: #bde3ff;
}

.west {
    float: left;
    width: 750px;
    text-align: justify;
    padding: 15px;
    border-right: 3px solid rgb(78, 186, 248);
}

.east {
    float: left;
    text-align: left;
    padding: 15px;
    width: 170px;
    color: rgb(36, 36, 36);
    font-size: 17px;
    margin-top: 40px;
    
}

h3 {
    text-align: center;
}

ul {
    list-style-type: square;
}

.east img{
    margin-top: 15px;
}