<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatibile" content="IE=edge,chrome=1" />

    <title>ŚWINKI MORSKIE</title>
    <meta name="description" content="Strona internetowa przedstawiająca rodzaje świnek morskich (kawii domowych)" />
    <meta name="keywords" content="świnka morska, kawia domowa, zwierzątko domowe, zwierzę, przyjaciel, rodzaje, rasy, umaszczenie, kolory" />
    <meta http-equiv="X-UA-Compatibile" content="IE=edge, chrome=1" />

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

    <link rel="stylesheet" href={{url_for('static',filename='styles/style.css')}} type="text/css" />
    <link rel="stylesheet" href={{url_for('static',filename='styles/fontello.css')}} type="text/css" />



    <script src={{url_for('static', filename='scripts/jquery.js')}}></script>
    <script src={{url_for('static', filename='scripts/jquery-3.5.1.min.js')}}></script>
    <script src={{url_for('static', filename='scripts/sorttable.js')}}></script>
    <script src={{url_for('static', filename='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}></script>
    <script src={{url_for('static', filename='scripts/jquery.scrollTo.min.js')}}></script>
    
    <script>
        jQuery(function($)
        {
            $.scrollTo(0);

            $('#link1').click(function() { $.scrollTo($('#pyt1'), 500); });
            $('#link2').click(function() { $.scrollTo($('#pyt2'), 500); });
            $('#link3').click(function() { $.scrollTo($('#pyt3'), 500); });
            $('#link4').click(function() { $.scrollTo($('#pyt4'), 500); });
            $('#link5').click(function() { $.scrollTo($('#pyt5'), 500); });

        }
        );

        $(window).scroll(function()
        {
            if($(this).scrollTop()>300) $('.scrollup').fadeIn();
            else $('.scrollup').fadeOut();
        }
        );
    </script>

</head>

<body>


<div class="container3">
    <div class="container2">
        <header>
            <div class="banner">
                <a href="#" class="scrollup"></a>
                <figure>
                    <a href="#"><img class="banner1" src={% block bannersrc %} {% endblock %} width="800" height="300"></a>
                    <a href="#" class="link1"><p> {% block title %} {% endblock %}</p></a>
                </figure>
            </div>
        </header>
    </div>
</div>

<div class="sticker1">
        <nav>
            <ol class="wpis">
                <li><a href="#"> Główna</a></li>
                <li><a href="#">Żywienie</a>
                    <ul>
                        <li><a href="#"> Siano </a></li>
                        <li><a href="#"> Karma</a></li>
                        <li><a href="#"> Warzywa</a></li>
                        <li><a href="#"> Owoce</a></li>
                    </ul>
                </li>
                <li><a href="#">Pielęgnacja</a>
                    <ul>
                        <li><a href="#">Stado</a></li>
                        <li><a href="#"> Klatka</a></li>
                        <li><a href="#"> Opieka</a></li>
                    </ul>
                </li>
                <li><a href="#"> Zdrowie</a>
                    <ul>
                        <li><a href="#">Choroby</a></li>
                        <li><a href="#"> Lekarstwa</a></li>
                        <li><a href="#"> Alergie</a></li>
                    </ul>
                </li>
                <li><a href="#"> Inne</a></li>
                <li><a href="#"> Galeria</a></li>
            </ol>

        </nav>
    </div>

<main>
    <div class="container1">
            <article>
                <header>
                    <br>
                    <div class="pytanie1">
                        <h2> {% block opis %} {% endblock %} </h2>
                    </div>
                </header>
            </article>

     <section>

        <div class="tresc">
            <div class="opis">
                Spis treści:
                <ol>
                    <li><a id="link1" href="#pyt1">{% block pyt1 %} {% endblock %}</a> </li>
                    <li><a id="link2" href="#pyt2">{% block pyt2 %} {% endblock %}</a></li>
                    <li><a id="link3" href="#pyt3">{% block pyt3 %} {% endblock %}</a></li>
                    <li><a id="link4" href="#pyt4">{% block pyt4 %} {% endblock %}</a></li>
                    <li><a id="link5" href="#pyta5">{% block pyt5 %} {% endblock %}</a></li>
                </ol>
            </div>
        </div>
        <div class="imgwpis">
            <img src={% block imgsrc1 %} {% endblock %} width="1000" height="300">
        </div>
        <div class="pytanie" id=pyt1>
            <h2>{{ self.pyt1() }}</h2>
        </div>
        <div class="opis">
            <p> {% block odp1 %} {% endblock %}</p>
        </div>
        <div class="imgwpis">
            <img src={% block imgsrc2 %} {% endblock %} width="1000" height="300">
        </div>
        <div class="pytanie" id=pyt2>
            <h2>{{ self.pyt2() }}</h2>
        </div>
        <div class="opis">
            <p>{% block odp2 %} {% endblock %}</p>
        </div>
        <div class="imgwpis">
            <img src={% block imgsrc3 %} {% endblock %} width="1000" height="300">
        </div>
        <div class="pytanie" id=pyt3>
            <h2>{{ self.pyt3() }}</h2>
        </div>
        <div class="opis">
            <p>
            {% block odp3 %} {% endblock %}
            </p>
        </div>
         <div class="pytanie" id=pyt4>
             <h2> Tabela uwzględniająca składniki odżywcze.</h2>
         </div>
         <div class="opis">
             <p>Komentarze do tabelki:</p>
             <ul>
                 <li>podane wartości składników odżywczych odnoszą się do 100g produktu (wyjątki są oznaczone)</li>
                 <li>stosuj produkty o niskiej zawartości wapnia (Ca), który może się nagromadzać powodując kamienie i osad w przewodzie moczowym</li>
                 <li>stosuj produkty o niskiej zawartości kwasu szczawiowego, który może łączyć się z wapniem tworząc osad złożony z kryształów szczawianu wapnia</li>
                 <li>staraj się zachować równowagę pomiędzy wapniem i fosforem (Ca:P), utzymując całkowity stosunek pomiędzy 1,5:1 a 2:1</li>
                 <li>unikaj podawania dużych porcji produktów bogatych w cukier i skrobie</li>
                 <li>produkty podajemy w stanie surowym</li>
                 <li>kliknij na nagłówki kolumny aby posortować wartości od najmniejszej do największej</li>
                 <li>najedź kursorem na obrazek produktu aby powiększyć</li>
             </ul>
         </div>
         <p>Produkty podzielono na następujące grupy:</p>
         <table>
             <tr>
                 <th>Nazwa grupy</th>
                 <th>Częstotliwość podawania</th>
             </tr>
             <tr bgcolor="lightgreen">
                 <td style="text-align: center;">A</td>
                 <td>podawaj codziennie</td>
             </tr>
             <tr bgcolor="#FFFA5E">
                 <td style="text-align: center;">B</td>
                 <td>podawaj często, 2-4 razy na tydzień</td>
             </tr>
             <tr bgcolor="#FF893D">
                 <td style="text-align: center;">C</td>
                 <td>podawaj okazjonalnie. 1-2 razy na tydzień</td>
             </tr>
             <tr bgcolor="#FF2A2A">
                 <td style="text-align: center;">D</td>
                 <td>podawaj rzadko, 1-2 razy na miesiąc</td>
             </tr>

         </table>


         {% block table %}
         {% endblock %}

         <div class="pytanie" id=pyt5>
                            <h2>{{ self.pyt5() }}?</h2>
         </div>
                        <div class="opis">
                            {% block odp5 %} {% endblock %}

                        </div>
     </section>
    </div>
</main>
<footer>
    <div class="footer">DBAJMY O NASZE ŚWINIACZKI
        <div class="footer1">Wszystkie prawa zastrzeżone, 2020 </div>
    </div>
</footer>

</body>

</html>