<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatibile" content="IE=edge,chrome=1" />
    
    <title>ŚWINKI MORSKIE</title>
    <meta name="description" content="Strona internetowa przedstawiająca rodzaje świnek morskich (kawii domowych)" />
    <meta name="keywords" content="świnka morska, kawia domowa, zwierzątko domowe, zwierzę, przyjaciel, rodzaje, rasy, umaszczenie, kolory" />
    <meta http-equiv="X-UA-Compatibile" content="IE=edge, chrome=1" />
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="css/fontello.css" type="text/css" />

    <script src="sorttable.js"></script>
    <script src="jquery.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="jquery.sticky.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src= "jquery.scrollTo.min.js"></script>

    
    <script>
        jQuery(function($)
        {
            $.scrollTo(0);

            $('#link1').click(function() { $.scrollTo($('#owoce1'), 500); });
            $('#link2').click(function() { $.scrollTo($('#owoce2'), 500); });
            $('#link3').click(function() { $.scrollTo($('#owoce3'), 500); });
            $('#link4').click(function() { $.scrollTo($('#owoce4'), 500); });
            $('#link5').click(function() { $.scrollTo($('#owoce5'), 500); });

        }
        );

        $(window).scroll(function()
        {
            if($(this).scrollTop()>300) $('.scrollup').fadeIn();
            else $('.scrollup').fadeOut();
        }
        );
    </script>



</head>

<body>
    <div class="container2">
        <header>   
            <div class="banner">
                <a href="#" class="scrollup"></a>
                <figure>
                    <a href="#"><img class="banner1" src=img/owoce/owocewpis.jpg width="800" height="300"></a>
                    <a href="#" class="link1"><p>Jakie owoce powinna jeść kawia domowa?</p></a>
                </figure>
            </div>
        </header>    
    </div>

    
    <nav>
        <div class="sticker1">
            <ol class="wpis">
                <li><a href="#"> Główna</a></li>
                <li><a href="#">Żywienie</a>
                    <ul>
                        <li><a href="#"> Siano </a></li>
                        <li><a href="#"> Karma</a></li>
                        <li><a href="#"> Warzywa</a></li>
                        <li><a href="#"> Owoce</a></li>
                    </ul>
                </li>    
                <li><a href="#">Pielęgnacja</a>
                    <ul>
                        <li><a href="#">Stado</a></li>
                        <li><a href="#"> Klatka</a></li>
                        <li><a href="#"> Opieka</a></li>
                    </ul>
                </li>    
                <li><a href="#"> Zdrowie</a>
                    <ul>
                        <li><a href="#">Choroby</a></li>
                        <li><a href="#"> Lekarstwa</a></li>
                        <li><a href="#"> Alergie</a></li>
                    </ul>
                </li>    
                <li><a href="#"> Inne</a></li>
                <li><a href="#"> Galeria</a></li>
            </ol>
        </div>
    </nav>
 
    
    <main>
        <div class="container1">   
            <article>
                <header>
                    <br>
                    <div class="pytanie1">
                        <h2> Instrukcje pomagające skomponować idealne owocowe dodatki dla Twojego prosiaczka.    Zapoznaj się z nimi dokładnie i w razie wątpliwości zasięgnij opinii weterynarza, aby Twoje zwierzątko mogło cieszyć 
                            się zdrowym, długim i szczęśliwym życiem! </h2>
                    </div>
                </header>
                <section>

                    <div class="tresc">
                        <div class="opis">
                            <h3>Spis treści:</h3>
                            <ol>
                                <li><a id="link1" href="#owoce1">Czy świnka morska może jeść owoce?</a> </li>
                                <li><a id="link2" href="#owoce2">Jaka ilość owoców jest odpowiednia dla świnki morskiej?</a></li>
                                <li><a id="link3" href="#owoce3">Jak przygotować owoce do spożycia</a></li>
                                <li><a id="link4" href="#owoce4">Tabela uwzględniająca składniki odżywcze poszczególnych owoców.</a></li>
                                <li><a id="link5" href="#owoce5">Czego powinna unikać świnka morska</a></li>
                            </ol>
                        </div>
                        <div class="imgwpis">
                            <img src="img/owoce/owoce1.jpg" width="1000" height="300">
                        </div>
                        <div class="pytanie" id=owoce1>
                            <h2> Czy świnka morska może jeść owoce?</h2>
                        </div>
                        <div class="opis">
                            <p> Zapewne tak samo jak wielu posiadaczy świnek morskich, chcesz rozpieszczać swoje zwierzątka, jak to tylko jest
                                możliwe. Wiele osób robi to poprzez podawanie swoim pupilom przepysznych przekąsek w tym owoców.
                                Dodatkowo owoce, oprócz niepowtarzalnego smaku, zawierają błonnik i witaminy. Są to składniki niezbędne do utrzymania zdrowia naszych pupili.
                                 
                            </p> 
                        </div>
                        <div class="imgwpis">
                            <img src="img/owoce/owoce2.jpg" width="1000" height="300">
                        </div>
                        <div class="pytanie" id=owoce2>
                            <h2> Jaka ilość owoców jest odpowiednia dla świnki morskiej?</h2>
                        </div>
                        <div class="opis">
                            <p>Zwierzątka zazwyczaj nie przejadają się same z siebie, ale nawet względnie niewielkie ilości owoców mogą prowadzić do różnych problemów.
                                Jako, że niektóre owoce zawierają zbyt dużo cukru, gryzonie mogą w szybkim czasie przyswoić zbyt dużą ilość kalorii co prowadzi do zwiększenia
                                masy ciała, utrudniając im poruszanie się i zmniejszając ich komfort życia. Podsumowując dieta bogata w zbyt dużo słodkich owoców może 
                                powodować biegunkę oraz otyłość prowadzącą do cukrzycy. Dodatkowo niektóre owoce są dosyć kwaskowate
                                co może podrażniać delikatne okolice pyszczków u naszych małych przyjaciół. 
                            </p>
                            <p>
                                Generalnie przyjmuje się, że jeżeli śwince na dzień podaje się objętościowo około jeden kubek świeżych warzyw, to najwyżej 1/4 tego kubka
                                mogą zajmować owoce. Najlepiej jednak podawać śwince owoce co drugi dzień, przy okazji monitorując czy gryzoń nie powiększa się w niekontrolowany 
                                sposób. Małe porcje owoców, podawane okazjonalnie z pewnością uszczęśliwią Twoją świnkę, dostarczając jej tak potrzebnej witaminy C.
                                
                            </p>
                        </div>
                        <div class="imgwpis">
                            <img src="img/owoce/owoce3.jpg" width="1000" height="300">
                        </div>
                        <div class="pytanie" id=owoce3>
                            <h2>Jak przygotować owoce do spożycia?</h2>
                        </div>
                        <div class="opis">
                            <p>
                    
                            Wiemy już, że włączenie owoców do diety kawii domowej jest świetnym pomysłem. Dodatkowo warto też być pewnym,
                            że podawane przez nas owoce są dla niej odpowiednio przygotowane. Niektóre rośliny mają trującą szypułkę, liście, nasiona
                            lub trzon a inne mogą być trudne w pogryzieniu jeżeli nie są pocięte na małe kawałeczki. Poniższe zasady sprawią, że dając swojej śwince owoce
                            sprawisz jej tylko i wyłącznie radość. </p>
                            <p>
                            <h4>1. Kupuj owoce z miejsc, do których masz zaufanie </h4></p><p>
                            Każdy lubi oszczędzić nieco grosza i kupić coś z supermarketu, ale nikt nie chce jeść czegoś co jest
                            zanieczyszczone pestycydami albo jest tak stare, że już gnije. Jeśli podasz taki niepewny owoc świniaczkowi może to sprawić, że 
                            Twój zwierzak zatruje się lub nawet umrze. 
                            </p>
                            <p>
                            <h4>2. Myj owoce </h4></p><p>
                            Większość owoców sprzedawanych w sklepach spożywczych ma na sobie resztki chemicznych oprysków. Ważne jest 
                            więc aby przed podaniem dokładnie myć owoce w ciepłej wodzie. Zawsze róbmy to zanim zaczniemy kroić owoce, 
                            ponieważ trujące chemiczne związki znajdujące się na skórce mogą na ostrzu noża dostać się do soczystego miąszu. 
                        </p>
                            <p>
                            <h4>3. Potnij owoce na małe kawałki </h4></p><p>
                            Świnki morskie mają duże zęby, ale dużo łatwiejsze będzie dla nich jedzenie owoców jeżeli potniesz je najpierw na 
                            małe części. Ważne jest również pozbycie się skórki z owoców, która mimo, że zawiera dużo witamin i minerałów 
                            to jest ciężka do strawienia. Szatkowanie owoców pomaga też rozprowadzić po pomieszczeniu ich apetyczny aromat co sprawi, że świnki 
                            będą czerpać z przękąski jeszcze więcej przyjemności
                        </p>
                            <p>
                            <h4>4. Pozwól owocom ogrzać się do temperatury pokojowej </h4></p><p>
                            Świnki nie do końca lubią zimne pożywienie. Właściwie może ono nawet zaziębić nasze świnki czego oczywiście nie 
                            chcemy. W wyniku czego zawsze gdy wyciągasz owoce z lodówki musisz poczekać, aż ogrzeją się one naturalnie do 
                            temperatury pokojowej. Zrób to przed umyciem i cięciem owoców dla jak najlepszego rezultatu. 
                        </p>
                            <p><h4>
                            5. Usuń wszystkie niedojedzone części</h4></p><p>
                                                            W wielu przypadkach można zauważyć, że świnka nie jest w stanie zjeść całej przenaczonej dla niej porcji. Szybko te
                            niedojedzone cząstki zaczynają gnić, stają się siedliskiem bakterii oraz przyciągają insekty. Konsekwentnie więc
                            usuwaj takie ewwentualne zostawione resztki godzinę po podaniu. To nie tylko pomoże w utrzymaniu otoczenia świnki 
                            czystym i suchym, ale także zapobiegnie powstawaniu nieprzyjemnego zapachu. 
                        </p>
                            <p><h4>
                            6. Zawsze myj naczynia</h4></p><p>
                            Jako, że nie chcemy aby naczynie na którym podajemy śwince jedzenie zostało zakażone przez bakterie występujące 
                            w posłaniu świnek pamiętajmy, żeby zawsze po posiłku umyć je w ciepłej wodzie. Ważne jest też żeby używać innych 
                            pojemników do siana, suchej karmy i warzyw/owoców. </p>
                        </div>
                        
                        <div class="pytanie" id=owoce4>
                            <h2> Tabela uwzględniająca składniki odżywcze poszczególnych owoców.</h2>
                        </div>
                        <div class="opis">
                            <p>Komentarze do tabelki:</p>
                            <ul>
                                <li>podane wartości składników odżywczych odnoszą się do 100g produktu (wyjątki są oznaczone)</li>
                                <li>stosuj produkty o niskiej zawartości wapnia (Ca), który może się nagromadzać powodując kamienie i osad w przewodzie moczowym</li>
                                <li>stosuj produkty o niskiej zawartości kwasu szczawiowego, który może łączyć się z wapniem tworząc osad złożony z kryształów szczawianu wapnia</li>
                                <li>staraj się zachować równowagę pomiędzy wapniem i fosforem (Ca:P), utzymując całkowity stosunek pomiędzy 1,5:1 a 2:1</li>
                                <li>unikaj podawania dużych porcji produktów bogatych w cukier i skrobie</li>
                                <li>produkty podajemy w stanie surowym</li>
                                <li>kliknij na nagłówki kolumny aby posortować wartości od najmniejszej do największej</li>
                                <li>najedź kursorem na obrazek produktu aby powiększyć</li>
                            </ul>
                        </div>
                        <h3>Produkty podzielono na następujące grupy:</h3>
                        <table>
                            <tr>
                                <th>Nazwa grupy</th>
                                <th>Częstotliwość podawania</th>
                            </tr>
                            <tr bgcolor="lightgreen">
                                <td style="text-align: center;">A</td>
                                <td>podawaj codziennie</td>
                            </tr>
                            <tr bgcolor="#FFFA5E">
                                <td style="text-align: center;">B</td>
                                <td>podawaj często, 2-4 razy na tydzień</td>
                            </tr>
                            <tr bgcolor="#FF893D">
                                <td style="text-align: center;">C</td>
                                <td>podawaj okazjonalnie. 1-2 razy na tydzień</td>
                            </tr>
                            <tr bgcolor="#FF2A2A">
                                <td style="text-align: center;">D</td>
                                <td>podawaj rzadko, 1-2 razy na miesiąc</td>
                            </tr>
                        </table>
                        <br>

                            <table class="sortable">
                                <tr>
                                  <th>Zdjęcie</th>
                                  <th>Owoc</th>
                                  <th>Kalorie</th>
                                  <th>P<br> (g)</th>
                                  <th>S (g)</th>
                                  <th>Ca (mg)</th>
                                  <th>P (mg)</th>
                                  <th>Wit. C (mg)</th>
                                  <th>Wit. A (mg)</th>
                                  <th>Kwas szczawiowy (mg)</th>
                                  <th>Stosunek Ca:P</th>
                                  <th>Grupa</th>
                                  <th>Komentarz</th>
                                </tr>
                                <tr bgcolor="#FF893D" >
                                  <td><div class="vege"><img src="img/owoce/jablko.jpg" alt="jabłko" width="70" height="60"></div></td>
                                  <td>Jabłko</td>
                                  <td>52</td>
                                  <td>0,26</td>
                                  <td>10,39</td>
                                  <td>6</td>
                                  <td>11</td>
                                  <td>4,6</td>
                                  <td>3</td>
                                  <td>-</td>
                                  <td>0,5:1</td>
                                  <td>C</td>
                                  <td>wysoka zawartość cukru</td>
                                </tr>
                                <tr bgcolor="#FF893D" >
                                    <td><div class="vege"><img src="img/owoce/morela.jpg" alt="morela" width="70" height="60"></div></td>
                                    <td>Morela</td>
                                    <td>48</td>
                                    <td>1,40</td>
                                    <td>9,24</td>
                                    <td>13</td>
                                    <td>23</td>
                                    <td>10</td>
                                    <td>96</td>
                                    <td>-</td>
                                    <td>0,5:1</td>
                                    <td>C</td>
                                    <td>-</td>
                                  </tr>
                                <tr bgcolor="#FF2A2A" >
                                    <td><div class="vege"><img src="img/owoce/banan.jpg" alt="banan" width="70" height="60"></div></td>
                                    <td>Banan</td>
                                    <td>89</td>
                                    <td>1,09</td>
                                    <td>12,23</td>
                                    <td>5</td>
                                    <td>22</td>
                                    <td>8,7</td>
                                    <td>3</td>
                                    <td>-</td>
                                    <td>0,2:1</td>
                                    <td>D</td>
                                    <td>może powodować zaparcia, podawaj w małych ilościach</td>
                                  </tr>
                              
                                  <tr bgcolor="#FFFA5E" >
                                    <td><div class="vege"><img src="img/owoce/jezyna.jpg" alt="jeżyna" width="70" height="60"></div></td>
                                    <td>Jeżyny (25 gram)</td>
                                    <td>11</td>
                                    <td>0,35</td>
                                    <td>1,22</td>
                                    <td>7</td>
                                    <td>6</td>
                                    <td>5,2</td>
                                    <td>3</td>
                                    <td>-</td>
                                    <td>1,1:1</td>
                                    <td>B</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="#FFFA5E" >
                                    <td><div class="vege"><img src="img/owoce/jagody.jpg" alt="jagody" width="70" height="60"></div></td>
                                    <td>Jagody (25 gram)</td>
                                    <td>14</td>
                                    <td>0,18</td>
                                    <td>2,49</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>2,4</td>
                                    <td>1</td>
                                    <td>-</td>
                                    <td>0,7:1</td>
                                    <td>B</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="#FFFA5E" >
                                    <td><div class="vege"><img src="img/owoce/wisnia.jpg" alt="wiśnia" width="70" height="60"></div></td>
                                    <td>Wiśnie (25 gram)</td>
                                    <td>16</td>
                                    <td>0,27</td>
                                    <td>3,21</td>
                                    <td>3</td>
                                    <td>5</td>
                                    <td>1,8</td>
                                    <td>1</td>
                                    <td>-</td>
                                    <td>0,6:1</td>
                                    <td>B</td>
                                    <td>przed podaniem usuń pestki</td>
                                  </tr>
                                  <tr bgcolor="#FFFA5E" >
                                    <td><div class="vege"><img src="img/owoce/zurawina.jpg" alt="żurawina" width="70" height="60"></div></td>
                                    <td>Żurawina (25 gram)</td>
                                    <td>12</td>
                                    <td>0,10</td>
                                    <td>1,0</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>3,3</td>
                                    <td>3</td>
                                    <td>-</td>
                                    <td>0,7:1</td>
                                    <td>B</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="#FF893D" >
                                    <td><div class="vege"><img src="img/owoce/figa.jpg" alt="figa" width="70" height="60"></div></td>
                                    <td>Figa</td>
                                    <td>37</td>
                                    <td>0,38</td>
                                    <td>8,13</td>
                                    <td>18</td>
                                    <td>7</td>
                                    <td>1</td>
                                    <td>4</td>
                                    <td>-</td>
                                    <td>2,6:1</td>
                                    <td>C</td>
                                    <td>wysoka zawartość cukru</td>
                                  </tr>
                                  <tr bgcolor="lightgreen" >
                                    <td><div class="vege"><img src="img/owoce/agrest.jpg" alt="agrest" width="70" height="60"></div></td>
                                    <td>Agrest (25 gram)</td>
                                    <td>11</td>
                                    <td>0,22</td>
                                    <td>0</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>6,9</td>
                                    <td>4</td>
                                    <td>-</td>
                                    <td>0,9:1</td>
                                    <td>A</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="#FFFA5E" >
                                    <td><div class="vege"><img src="img/owoce/winogrona.jpg" alt="winogrona" width="70" height="60"></div></td>
                                    <td>Winogrona (25 gram)</td>
                                    <td>17</td>
                                    <td>0,18</td>
                                    <td>3,87</td>
                                    <td>2</td>
                                    <td>5</td>
                                    <td>2,7</td>
                                    <td>1</td>
                                    <td>-</td>
                                    <td>0,4:1</td>
                                    <td>B</td>
                                    <td>podawać gatunek pozbawiony pestek</td>
                                  </tr>
                                  <tr bgcolor="#FF893D" >
                                    <td><div class="vege"><img src="img/owoce/kiwi.jpg" alt="kiwi" width="70" height="60"></div></td>
                                    <td>Kiwi</td>
                                    <td>61</td>
                                    <td>1,14</td>
                                    <td>8,99</td>
                                    <td>34</td>
                                    <td>34</td>
                                    <td>92,7</td>
                                    <td>4</td>
                                    <td>-</td>
                                    <td>1,0:1</td>
                                    <td>C</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="#FF893D" >
                                    <td><div class="vege"><img src="img/owoce/mango.jpg" alt="mango" width="70" height="60"></div></td>
                                    <td>Mango</td>
                                    <td>65</td>
                                    <td>0,51</td>
                                    <td>14,80</td>
                                    <td>10</td>
                                    <td>11</td>
                                    <td>27,7</td>
                                    <td>38</td>
                                    <td>-</td>
                                    <td>0,9:1</td>
                                    <td>C</td>
                                    <td>wysoka zawartość cukru</td>
                                  </tr>
                                  <tr bgcolor="#FF893D" >
                                    <td><div class="vege"><img src="img/owoce/melon.jpg" alt="melon" width="70" height="60"></div></td>
                                    <td>Melon</td>
                                    <td>34</td>
                                    <td>0,84</td>
                                    <td>7,86</td>
                                    <td>9</td>
                                    <td>15</td>
                                    <td>36,7</td>
                                    <td>169</td>
                                    <td>-</td>
                                    <td>0,6:1</td>
                                    <td>C</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="#FF893D" >
                                    <td><div class="vege"><img src="img/owoce/pomarancza.jpg" alt="pomarańcza" width="70" height="60"></div></td>
                                    <td>Pomarańcza</td>
                                    <td>47</td>
                                    <td>0,94</td>
                                    <td>9,35</td>
                                    <td>40</td>
                                    <td>14</td>
                                    <td>53,2</td>
                                    <td>11</td>
                                    <td>-</td>
                                    <td>2,9:1</td>
                                    <td>C</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="#FF893D" >
                                    <td><div class="vege"><img src="img/owoce/papaja.jpg" alt="papaja" width="70" height="60"></div></td>
                                    <td>Papaja</td>
                                    <td>39</td>
                                    <td>0,61</td>
                                    <td>5,90</td>
                                    <td>24</td>
                                    <td>5</td>
                                    <td>61,8</td>
                                    <td>55</td>
                                    <td>-</td>
                                    <td>4,8:1</td>
                                    <td>C</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="#FF893D" >
                                    <td><div class="vege"><img src="img/owoce/brzoskwinia.jpg" alt="brzoskwinia" width="70" height="60"></div></td>
                                    <td>Brzoskwinia</td>
                                    <td>39</td>
                                    <td>0,91</td>
                                    <td>8,39</td>
                                    <td>6</td>
                                    <td>20</td>
                                    <td>6,6</td>
                                    <td>16</td>
                                    <td>-</td>
                                    <td>0,3:1</td>
                                    <td>C</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="#FF893D" >
                                    <td><div class="vege"><img src="img/owoce/gruszka.jpg" alt="gruszka" width="70" height="60"></div></td>
                                    <td>Gruszka</td>
                                    <td>58</td>
                                    <td>0,38</td>
                                    <td>9,80</td>
                                    <td>9</td>
                                    <td>11</td>
                                    <td>4,2</td>
                                    <td>1</td>
                                    <td>-</td>
                                    <td>0,8:1</td>
                                    <td>C</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="#FF893D" >
                                    <td><div class="vege"><img src="img/owoce/ananas.jpg" alt="ananas" width="70" height="60"></div></td>
                                    <td>Ananas</td>
                                    <td>48</td>
                                    <td>0,54</td>
                                    <td>9,26</td>
                                    <td>13</td>
                                    <td>8</td>
                                    <td>36,2</td>
                                    <td>3</td>
                                    <td>-</td>
                                    <td>1,6:1</td>
                                    <td>C</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="#FF893D" >
                                    <td><div class="vege"><img src="img/owoce/sliwka.jpg" alt="śliwka" width="70" height="60"></div></td>
                                    <td>Śliwka</td>
                                    <td>46</td>
                                    <td>0,70</td>
                                    <td>9,92</td>
                                    <td>6</td>
                                    <td>16</td>
                                    <td>9,5</td>
                                    <td>17</td>
                                    <td>-</td>
                                    <td>0,3:1</td>
                                    <td>C</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="lightgreen" >
                                    <td><div class="vege"><img src="img/owoce/malina.jpg" alt="malina" width="70" height="60"></div></td>
                                    <td>Malina (25 gram)</td>
                                    <td>13</td>
                                    <td>0,30</td>
                                    <td>1,10</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>6,5</td>
                                    <td>0</td>
                                    <td>-</td>
                                    <td>0,9:1</td>
                                    <td>A</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="lightgreen" >
                                    <td><div class="vege"><img src="img/owoce/truskawki.jpg" alt="truskawki" width="70" height="60"></div></td>
                                    <td>Truskawki   (5 małych)</td>
                                    <td>11</td>
                                    <td>0,23</td>
                                    <td>1,63</td>
                                    <td>6</td>
                                    <td>8</td>
                                    <td>20,6</td>
                                    <td>0</td>
                                    <td>-</td>
                                    <td>0,8:1</td>
                                    <td>A</td>
                                    <td>-</td>
                                  </tr>
                                  <tr bgcolor="#FF893D" >
                                    <td><div class="vege"><img src="img/owoce/arbuz.jpg" alt="arbuz" width="70" height="60"></div></td>
                                    <td>Arbuz</td>
                                    <td>30</td>
                                    <td>0,61</td>
                                    <td>6,20</td>
                                    <td>7</td>
                                    <td>11</td>
                                    <td>8,1</td>
                                    <td>28</td>
                                    <td>-</td>
                                    <td>0,6:1</td>
                                    <td>C</td>
                                    <td>skórka jest jadalna</td>
                                  </tr>
                                </table>
                            
                        </table>
                        <div class="pytanie" id=owoce5>
                            <h2>Czego powinna unikać świnka morska?</h2>
                        </div>
                        <div class="opis">
                            <p>
                                Niektórzy weterynarze uważają, że winogrona mogą prowadzić do schorzeń nerek u świnek, dlatego należy 
                                unikać ich podawania. Ale jeśli już to robisz, to podawaj ich w niewielkich ilościach i dopilnuj by owoce
                                nie zawierały pestek. </p>
                            <p>Świnki nie mogą też jeść trzonu jabłka ponieważ zawiera on cyjanoidy oraz inne szkodliwe toksyny. Pamiętaj więc aby przed
                                podaniem usunąć z jabłka wszystkie niejadalne części. 
                            </p>
                            <p>Warto też zwrócić uwagę na kawałeczki suszonych owoców, które często znajdują się w suchej karmie. One w małych ilościach nie zaszkodzą Twojej śwince ale nie powinno sie ich podawać zbyt często ze względu na 
                                ekstremalnie dużą zawartość cukrów.</p>
                        </div>
                    </div>
            </article>
        </div>
    </main>




</body>
</html>