<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatibile" content="IE=edge,chrome=1" />
    
    <title>ŚWINKI MORSKIE</title>
    <meta name="description" content="Strona internetowa przedstawiająca rodzaje świnek morskich (kawii domowych)" />
    <meta name="keywords" content="świnka morska, kawia domowa, zwierzątko domowe, zwierzę, przyjaciel, rodzaje, rasy, umaszczenie, kolory" />
    <meta http-equiv="X-UA-Compatibile" content="IE=edge, chrome=1" />
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="css/fontello.css" type="text/css" />

    <script src="sorttable.js"></script>
    <script src="jquery.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="jquery.sticky.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src= "jquery.scrollTo.min.js"></script>

    
    <script>
        jQuery(function($)
        {
            $.scrollTo(0);

            $('#link1').click(function() { $.scrollTo($('#ziola1'), 500); });
            $('#link2').click(function() { $.scrollTo($('#ziola2'), 500); });
            $('#link3').click(function() { $.scrollTo($('#ziola3'), 500); });
            $('#link4').click(function() { $.scrollTo($('#ziola4'), 500); });
            $('#link5').click(function() { $.scrollTo($('#ziola5'), 500); });
         

        }
        );

        $(window).scroll(function()
        {
            if($(this).scrollTop()>300) $('.scrollup').fadeIn();
            else $('.scrollup').fadeOut();
        }
        );
    </script>



</head>

<body>
    <div class="container2">
        <header>   
            <div class="banner">
                <figure>
                    <a href="#"><img class="banner1" src=img/ziola/ziolawpis.jpg width="800" height="300"></a>
                    <a href="#" class="link1"><p>Jakie zioła dla świnki morskiej?</p></a>
                </figure>
            </div>
        </header>    
    </div>

    
    <nav>
        <div class="sticker1">
            <ol class="wpis">
                <li><a href="#"> Główna</a></li>
                <li><a href="#">Żywienie</a>
                    <ul>
                        <li><a href="#"> Siano </a></li>
                        <li><a href="#"> Karma</a></li>
                        <li><a href="#"> Warzywa</a></li>
                        <li><a href="#"> Owoce</a></li>
                    </ul>
                </li>    
                <li><a href="#">Pielęgnacja</a>
                    <ul>
                        <li><a href="#">Stado</a></li>
                        <li><a href="#"> Klatka</a></li>
                        <li><a href="#"> Opieka</a></li>
                    </ul>
                </li>    
                <li><a href="#"> Zdrowie</a>
                    <ul>
                        <li><a href="#">Choroby</a></li>
                        <li><a href="#"> Lekarstwa</a></li>
                        <li><a href="#"> Alergie</a></li>
                    </ul>
                </li>    
                <li><a href="#"> Inne</a></li>
                <li><a href="#"> Galeria</a></li>
            </ol>
        </div>
    </nav>
 
    
    <main>
        <div class="container1">   
            <article>
                <header>
                    <br>
                    <div class="pytanie1">
                        <h2> Instrukcje pomagające skomponować idealne owocowe dodatki dla Twojego prosiaczka.    Zapoznaj się z nimi dokładnie i w razie wątpliwości zasięgnij opinii weterynarza, aby Twoje zwierzątko mogło cieszyć 
                            się zdrowym, długim i szczęśliwym życiem! </h2>
                    </div>
                </header>
                <section>

                    <div class="tresc">
                        <div class="opis">
                           <h3> Spis treści:</h3>
                            <ol>
                                <li><a id="link1" href="#"> Znaczenie ziół w diecie świnki morskiej</a>
                                     </li>
                                <li><a id="link2" href="#"> W jakiej formie i ilości świnka powinna jeść zieleninę?</a> </li>
                                <li><a id="link3" href="#">Opis najbardziej popularnych ziół.</a> </li>
                                <li><a id="link4" href="#">Tabela uwzględniająca składniki odżywcze poszczególnych owoców.</a>  </li>
                                <li><a id="link5" href="#">Ryzyko związane z ziołami</a>  </li>
                             
                            </ol>
                        </div>
                        <div class="imgwpis">
                            <img src="img/ziola/ziola2.jpg" width="1000" height="300">
                        </div>
                        <div class="pytanie" id=ziola1>
                            <h2> 
                                Znaczenie ziół w diecie świnki morskiej</h2>
                        </div>
                        <div class="opis">
                            <p>Zielonki, czyli zielone części roślin (zioła jadalne, liście, pędy, trawy) powinny się znaleźć w codziennej diecie kawii domowej. 
                                Stanowią one dla zwierzaków doskonałe źródło błonnika, minerałów, istotnych pierwiastków i substancji 
                                prozdrowotnych. Zielenina dostarcza gryzoniom sporej dawki witamin – w tym także szczególnie potrzebnego
                                 im kwasu askorbinowego.</p>
                                <p> Surowce roślinne słyną ze swoich dobroczynnych właściwości. Mogą zatem pomóc
                                 uchronić małego pupila przed chorobami przewlekłymi lub wspomóc ich leczenie. Składniki zawarte w ziołach wzmacniają
                                 odporność, poprawiają pracę przewodu pokarmowego, usprawniają metabolizm, regulują funkcjonowanie układu
                                 moczowego i krążenia. Jest to szczególnie ważne ze względu na to, że serce jest najbardziej zagrożonym organem w ciele małych ssaków.
                                Dbając o jego wyśmienitą kondycję mamy dużą szansę zapewnić naszm małym przyjaciołom długie i wygodne życie
                                . </p>
                                <p> Regularnie podawając zioła, w odpowniednich proporcjach, jesteśmy w stanie znacznie zmniejszyć ilość dostarczanych w diecie kalorii.
                                Zielenina znajduje też zastosowanie w profilaktyce chorób pasożytniczych, dietozależnych, 
                                a nawet nowotworowych. Chrupiące zioła mogą pełnić także funkcje przysmaków dentystycznych. </p>
                                 
                                <p>Naturalne roślinne przekąski są nie tylko zdrowe, ale również bardzo smaczne i chętnie jedzone przez świnki morskie.
                                 Sprawdzą się wspaniale w roli smakołyków, nagród czy przynęt. Będą ponadto świetnym, wyostrzającym apetyt, 
                                urozmaiceniem jadłospisu kawii. Zioła, ze względu na swoją różnorodność, stymulują zmysły zwierzaków i 
                                pobudzają je do naturalnych zachowań związanych ze zdobywaniem pożywienia. </p>
                            
                        </div>
                        <div class="imgwpis">
                            <img src="img/ziola/ziola1.jpg" width="1000" height="300">
                        </div>
                        <div class="pytanie" id=ziola2>
                            <h2>
                                 W jakiej formie i ilości świnka powinna jeść zielonkę? </h2>
                        </div>
                        <div class="opis">
                            <p>Zioła możemy serwować świnkom morskim zarówno w formie świeżej, jak i suszonej. Zdecydowanie nie powinno się im podawać warzyw smażonych, gotowanych czy pieczonych.
                                Niektóre kawie domowe, chociaż uwielbiają jeść, bywają wybredne, dlatego mogą początkowo nie chcieć tknąć nieznanych im roślin. 
                                Niejednokrotnie trzeba stopniowo przyzwyczajać je do nowych przysmaków i uważnie przyglądać się ich preferencjom. </p>
                                <p>
                                Udział ziół w diecie świnek morskich powinien wynosić około 5-10% (nawet do połowy kubka zieleniny na dzień). Można podawać je regularnie jako dodatek do sianka
                                 lub samodzielną przekąskę. Oferta ziół dla kawii musi być jak najbardziej zróżnicowana. Należy więc unikać podawania
                                 gryzoniowi tylko jednego gatunku roślin przez dłuższy okres. Wskazane jest ponadto stosowania różnych części roślin
                                 (łodyżek, listków, kwiatów, korzonków). Surowce powinny różnić się twardością, kształtem, wielkością i teksturą. 
                                Warto stymulować pupila do żerowania i umożliwić mu wydobywanie przekąsek z karmników interaktywnych, zabawek lub
                                 elementów wyposażenia klatki. </p>
                        </div>
                        <div class="imgwpis">
                            <img src="img/ziola/ziola3.jpg" width="1000" height="300">
                        </div>
                        <div class="pytanie" id=ziola3>
                            <h2>Opis najbardziej popularnych ziół.</h2>
                        </div>
                        <div class="opis">
                            
<p><h4>Koperek </h4> jest bardzo bogatym źródłem witaminy C, którą trzeba dostarczać świnkom wraz z pożywieniem. Należy do rośliny selerowatych, jest uwielbiany przez 
    wszystkie świnki morskie. Koperek ma działanie wiatropędne, jest więc świetny przy wzdęciach, obniża ciśnienie krwi. Ponadto 
    działa mocząpędnie, co przyczynia się do oczyszczania organizmu. Pobudza trawienie, zapobiega wzdęciom. Zawiera dużo wapnia, powienno sie 
    więc unikać podawania go przy problemach z nadmiarem osadu waponiowego w moczu czy kamieniach w układzie moczowym.
    Koperek jest źródłem wielu witamin: A, D, H, K i witamin z grupy B. Dodatkowo zawiera minerały: wapń, żelazo, fosfor, magnez, potas,
    cunk, sód i miedź. </p>
    
    <p><h4>Natka pietruszki</h4> jest bardzo lubianą przez świniaczki zieleniną. Jest bogatym źródłem witaminy C. Zawiera również
    beta karoten, witaminę A, witaminy z grupy B, kwas foliowy oraz sole mineralne: wapń, magnez, potas, żelazo oraz błonnik, antyoksydanty:
    luteoliny i apigeniny. Ze względu na dużą zawartość wapnia należy jej unikać przy problemach z układem moczowym. Oprócz tego ma działanie
    antybakteryjne, przeciwzapalne i przeciwgrzybicze. Dodatkowo działa przeciwskurczowo, czyli pomaga przy wzdęciach. </p>

    <p> <h4> Jarmuż </h4> zawiera witaminy takie jak E, K, H, z grupy B, ale przede wszystkim jest bardzo bogatym 
        źródłem witaminy C. Poza tym znajdują się w nim wapń, sód, potas, magnez, mangan, żelazo, jod. W związku z dużą
        zawartością wapnia podawać z umiarem, ponieważ nadmiar wapnia w organizmie może powodować powstawanie kamienie w
        nerkach. Jarmuż zawiera w sobie składniki o działaniu przeciwnowotworowym i przeciwzapalnym - silny utleniacz sulforafan
        oraz antyoksydacyjne kartenoidy. Wspomaga układ sercowo- naczyniowy. Dzięki potasowi naczynia krwionośne są 
        bardziej drożne. Zioło to należy do roślin kapustnych, może powodować bolesne wzdęcia. Najlepiej podawać z umiarem. Dobrze mieć
        też w zapasie koper włoski o działaniu wiatropędnym, na wypadek wzdęć brzucha u świnek. </p>
        
        <p> <h4> Koper włoski </h4> zwany fen kułem to gatunek rośliny dwuletniej, zalicza się do rośliny selerowatych. Znany głównie
        z właściwości wiatropędnych. Pomaga przy wzdęciach, co jest u świnek dosyć częste. Łagodzi ból, działa przeciwskurczowo.
        Pobudza wydzielanie soku żołądkowego i żółci, może więc wspierać w przypadku braku apetytu. Zawiera oleki eteryczne, sporo witamiy C oraz
        flawonoidy - przeciwutleniacze zwalczające wolne rodniki. Ma działanie oksydacyjne, przeciwnowotworowe. Zawiera potas, witaminy z grupy B:
        zwłaszcza B1 i kwas foliowy, wit. K i A. Jest również dobtym źródłem błonnika. </p>
                            
                        </div>
                        
                        <div class="pytanie" id=>
                            <h2> Tabela uwzględniająca składniki odżywcze poszczególnych warzyw.</h2>
                        </div>
                        <div class="opis">
                            <p>Komentarze do tabelki:</p>
                            <ul>
                                <li>podane wartości składników odżywczych odnoszą się do 100g produktu (wyjątki są oznaczone)</li>
                                <li>stosuj produkty o niskiej zawartości wapnia (Ca), który może się nagromadzać powodując kamienie i osad w przewodzie moczowym</li>
                                <li>stosuj produkty o niskiej zawartości kwasu szczawiowego, który może łączyć się z wapniem tworząc osad złożony z kryształów szczawianu wapnia</li>
                                <li>staraj się zachować równowagę pomiędzy wapniem i fosforem (Ca:P), utzymując całkowity stosunek pomiędzy 1,5:1 a 2:1</li>
                                <li>unikaj podawania dużych porcji produktów bogatych w cukier i skrobie</li>
                                <li>produkty podajemy w stanie surowym</li>
                                <li>kliknij na nagłówki kolumny aby posortować wartości od najmniejszej do największej</li>
                                <li>najedź kursorem na obrazek produktu aby powiększyć</li>
                            </ul>
                        </div>
                       
                        <p><h3>Produkty podzielono na następujące grupy:</h3></p>
                        <table>
                            <tr>
                                <th>Nazwa grupy</th>
                                <th>Częstotliwość podawania</th>
                            </tr>
                            <tr bgcolor="lightgreen">
                                <td style="text-align: center;">A</td>
                                <td>podawaj codziennie</td>
                            </tr>
                            <tr bgcolor="#FFFA5E">
                                <td style="text-align: center;">B</td>
                                <td>podawaj często, 2-4 razy na tydzień</td>
                            </tr>
                            <tr bgcolor="#FF893D">
                                <td style="text-align: center;">C</td>
                                <td>podawaj okazjonalnie. 1-2 razy na tydzień</td>
                            </tr>
                            <tr bgcolor="#FF2A2A">
                                <td style="text-align: center;">D</td>
                                <td>podawaj rzadko, 1-2 razy na miesiąc</td>
                            </tr>
                            
                        </table>
                        <br>

                    <table class="sortable">
                        <tr>
                          <th>Zdjęcie</th>
                          <th>Warzywo</th>
                          <th>Kalorie</th>
                          <th>P<br> (g)</th>
                          <th>S (g)</th>
                          <th>Ca (mg)</th>
                          <th>P (mg)</th>
                          <th>Wit. C (mg)</th>
                          <th>Wit. A (mg)</th>
                          <th>Kwas szczawiowy (mg)</th>
                          <th>Stosunek Ca:P</th>
                          <th>Grupa</th>
                          <th>Komentarz</th>
                        </tr>
                        <tr bgcolor="#FFFA5E" >
                          <td><div class="vege"><img src="img/ziola/rukola.jpg" alt="rukola" width="70" height="60"></div></td>
                          <td>Rukola</td>
                          <td>25</td>
                          <td>2,58</td>
                          <td>2,05</td>
                          <td>160</td>
                          <td>52</td>
                          <td>15</td>
                          <td>119</td>
                          <td>-</td>
                          <td>3,0:1</td>
                          <td>B</td>
                          <td>-</td>
                        </tr>
                        <tr bgcolor="#FFFA5E" >
                            <td><div class="vege"><img src="img/ziola/bazylia.jpg" alt="bazylia" width="70" height="60"></div></td>
                            <td>Bazylia</td>
                            <td>7</td>
                            <td>0,64</td>
                            <td>0,07</td>
                            <td>38</td>
                            <td>17</td>
                            <td>4,5</td>
                            <td>66</td>
                            <td>-</td>
                            <td>2,2:1</td>
                            <td>B</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="FF2A2A" >
                            <td><div class="vege"><img src="img/ziola/zielenieburakow.jpg" alt="zielenieburaków" width="70" height="60"></div></td>
                            <td>Zielenie buraków</td>
                            <td>22</td>
                            <td>2,20</td>
                            <td>0,50</td>
                            <td>117</td>
                            <td>41</td>
                            <td>30</td>
                            <td>316</td>
                            <td>610</td>
                            <td>2,8:1</td>
                            <td>D</td>
                            <td>wysoka zawartość wapnia, wit. A i szczawianów</td>
                        </tr>
                        <tr bgcolor="#FFFA5E" >
                            <td><div class="vege"><img src="img/ziola/lisciebrokulu.jpg" alt="liściebrokułu" width="70" height="60"></div></td>
                            <td>Liście brokułu</td>
                            
                            <td>28</td>
                            <td>2,98</td>
                            <td>0</td>
                            <td>48</td>
                            <td>66</td>
                            <td>93,2</td>
                            <td>800</td>
                            <td>-</td>
                            <td>0,7:1</td>
                            <td>B</td>
                            <td>wysoka zawartość wit. A</td>
                        </tr>
                        <tr bgcolor="lightgreen" >
                            <td><div class="vege"><img src="img/ziola/kolendra.jpg" alt="kolendra" width="70" height="60"></div></td>
                            <td>Kolendra (25 gram)</td>
                            <td>6</td>
                            <td>0,53</td>
                            <td>0,22</td>
                            <td>17</td>
                            <td>12</td>
                            <td>6,8</td>
                            <td>84</td>
                            <td>2,5</td>
                            <td>1,4:1</td>
                            <td>A</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="lightgreen" >
                            <td><div class="vege"><img src="img/ziola/buraklisciowy.jpg" alt="burakliściowy" width="70" height="60"></div></td>
                            <td>Burak liściowy</td>
                            <td>19</td>
                            <td>1,8</td>
                            <td>1,1</td>
                            <td>51</td>
                            <td>46</td>
                            <td>30</td>
                            <td>306</td>
                            <td>-</td>
                            <td>1,1:1</td>
                            <td>A</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="#FFFA5E" >
                            <td><div class="vege"><img src="img/ziola/cykorialisciasta.jpg" alt="cykorialiściasta" width="70" height="60"></div></td>
                            <td>Cykoria liściasta</td>
                            <td>23</td>
                            <td>1,70</td>
                            <td>0,70</td>
                            <td>100</td>
                            <td>47</td>
                            <td>24</td>
                            <td>286</td>
                            <td>-</td>
                            <td>2,1:1</td>
                            <td>B</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="#FF893D" >
                            <td><div class="vege"><img src="img/ziola/kapustawarzywna.jpg" alt="kapustawarzywna" width="70" height="60"></div></td>
                            <td>Kapusta warzywna</td>
                            <td>30</td>
                            <td>2,45</td>
                            <td>0,46</td>
                            <td>145</td>
                            <td>10</td>
                            <td>35,3</td>
                            <td>333</td>
                            <td>450</td>
                            <td>14,5:1</td>
                            <td>C</td>
                            <td>wysoka zawartość wapnia, wit. A i szczawianów</td>
                        </tr>
                        <tr bgcolor="#FFFA5E" >
                            <td><div class="vege"><img src="img/ziola/rzezucha.jpg" alt="rzeżucha" width="70" height="60"></div></td>
                            <td>Rzeżucha</td>
                            <td>32</td>
                            <td>2,60</td>
                            <td>4,40</td>
                            <td>81</td>
                            <td>76</td>
                            <td>69</td>
                            <td>346</td>
                            <td>-</td>
                            <td>1,0:1</td>
                            <td>B</td>
                            <td></td>
                        </tr>
                        <tr bgcolor="#FFFA5E" >
                            <td><div class="vege"><img src="img/ziola/mniszeklekarski.jpg" alt="mniszeklekarski" width="70" height="60"></div></td>
                            <td>Mniszek lekarski</td>
                            <td>45</td>
                            <td>2,7</td>
                            <td>3,85</td>
                            <td>187</td>
                            <td>66</td>
                            <td>35</td>
                            <td>247</td>
                            <td>-</td>
                            <td>2,8:1</td>
                            <td>B</td>
                            <td>kwiat i korzeń również są jadalne</td>
                        </tr>
                        <tr bgcolor="#FF893D" >
                            <td><div class="vege"><img src="img/ziola/koperek.jpg" alt="koperek" width="70" height="60"></div></td>
                            <td>Koperek</td>
                            <td>11</td>
                            <td>0,86</td>
                            <td>0</td>
                            <td>52</td>
                            <td>16</td>
                            <td>21,2</td>
                            <td>96</td>
                            <td>-</td>
                            <td>3,2:1</td>
                            <td>C</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="lightgreen" >
                            <td><div class="vege"><img src="img/ziola/cykoriasalatowa.jpg" alt="cykoriasałatowa" width="70" height="60"></div></td>
                            <td>Cykoria sałatowa</td>
                            <td>17</td>
                            <td>1,25</td>
                            <td>0,25</td>
                            <td>52</td>
                            <td>28</td>
                            <td>6,5</td>
                            <td>108</td>
                            <td>110</td>
                            <td>1,8:1</td>
                            <td>A</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="lightgreen" >
                            <td><div class="vege"><img src="img/ziola/jarmuz.jpg" alt="jarmuz" width="70" height="60"></div></td>
                            <td>Jarmuż</td>
                            <td>50</td>
                            <td>3,30</td>
                            <td>0</td>
                            <td>135</td>
                            <td>56</td>
                            <td>120</td>
                            <td>769</td>
                            <td>020</td>
                            <td>2,4:1</td>
                            <td>A</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="lightgreen" >
                            <td><div class="vege"><img src="img/ziola/salatamaslowa.jpg" alt="sałatamasłowa" width="70" height="60"></div></td>
                            <td>Sałata masłowa</td>
                            <td>13</td>
                            <td>1,35</td>
                            <td>0,94</td>
                            <td>35</td>
                            <td>33</td>
                            <td>3,7</td>
                            <td>166</td>
                            <td>-</td>
                            <td>1,0:1</td>
                            <td>A</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="lightgreen" >
                            <td><div class="vege"><img src="img/ziola/salatarzymska.jpg" alt="sałatarzymska" width="70" height="60"></div></td>
                            <td>Sałata rzymska</td>
                            <td>17</td>
                            <td>1,23</td>
                            <td>1,19</td>
                            <td>33</td>
                            <td>30</td>
                            <td>24</td>
                            <td>290</td>
                            <td>-</td>
                            <td>1,1:1</td>
                            <td>A</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="lightgreen" >
                            <td><div class="vege"><img src="img/ziola/salatawinnicka.jpg" alt="sałatawinnicka" width="70" height="60"></div></td>
                            <td>Sałata winnicka</td>
                            <td>15</td>
                            <td>1,36</td>
                            <td>0,78</td>
                            <td>36</td>
                            <td>29</td>
                            <td>18</td>
                            <td>370</td>
                            <td>-</td>
                            <td>1,2:1</td>
                            <td>A</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="lightgreen" >
                            <td><div class="vege"><img src="img/ziola/salatawinnickaczerwona.jpg" alt="sałatawinnickaczerwona" width="70" height="60"></div></td>
                            <td>Sałata winnicka czerwona</td>
                            <td>16</td>
                            <td>1,33</td>
                            <td>0,48</td>
                            <td>33</td>
                            <td>28</td>
                            <td>3,7</td>
                            <td>375</td>
                            <td>-</td>
                            <td>1,1:1</td>
                            <td>A</td>
                            <td></td>
                        </tr>
                        <tr bgcolor="#FF893D" >
                            <td><div class="vege"><img src="img/ziola/kapustasitowata.jpg" alt="kapustasitowata" width="70" height="60"></div></td>
                            <td>Kapusta sitowata</td>
                            <td>26</td>
                            <td>2,70</td>
                            <td>1,60</td>
                            <td>103</td>
                            <td>43</td>
                            <td>70</td>
                            <td>525</td>
                            <td>-</td>
                            <td>2,4:1</td>
                            <td>C</td>
                            <td>-</td>
                        </tr>
                        
                        <tr bgcolor="#FFFA5E" >
                            <td><div class="vege"><img src="img/ziola/natkapietruszki.jpg" alt="natkapietruszki" width="70" height="60"></div></td>
                            <td>Natka pietruszki</td>
                            <td>9</td>
                            <td>0,74</td>
                            <td>0,21</td>
                            <td>34</td>
                            <td>14</td>
                            <td>33,2</td>
                            <td>105</td>
                            <td>425</td>
                            <td>2,4:1</td>
                            <td>B</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="lightgreen" >
                            <td><div class="vege"><img src="img/ziola/lisciewilcaziemniaczanego.jpg" alt="wilecziemniaczany" width="70" height="60"></div></td>
                            <td>Wilec ziemniaczany</td>
                            <td>35</td>
                            <td>4</td>
                            <td>0</td>
                            <td>37</td>
                            <td>94</td>
                            <td>11</td>
                            <td>0</td>
                            <td>-</td>
                            <td>0,4:1</td>
                            <td>A</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="#FF893D" >
                            <td><div class="vege"><img src="img/ziola/szpinak.jpg" alt="szpinak" width="70" height="60"></div></td>
                            <td>Szpinak</td>
                            <td>23</td>
                            <td>2,86</td>
                            <td>0,42</td>
                            <td>99</td>
                            <td>49</td>
                            <td>28,1</td>
                            <td>469</td>
                            <td>970</td>
                            <td>2,0:1</td>
                            <td>C</td>
                            <td>bardzo wysoka zawartość wit. A i szczawianów</td>
                        </tr>
                        <tr bgcolor="#FF893D" >
                            <td><div class="vege"><img src="img/ziola/tymianek.jpg" alt="tymianek" width="70" height="60"></div></td>
                            <td>Tymianek (25 gram)</td>
                            <td>25</td>
                            <td>1,39</td>
                            <td>0</td>
                            <td>101</td>
                            <td>26</td>
                            <td>40</td>
                            <td>60</td>
                            <td>-</td>
                            <td>3,9:1</td>
                            <td>C</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="#FF893D" >
                            <td><div class="vege"><img src="img/ziola/liscierzepy.jpg" alt="liścierzepy" width="70" height="60"></div></td>
                            <td>Liście rzepy</td>
                            <td>32</td>
                            <td>1,50</td>
                            <td>0,81</td>
                            <td>190</td>
                            <td>42</td>
                            <td>60</td>
                            <td>0</td>
                            <td>050</td>
                            <td>4,5:1</td>
                            <td>C</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="#FF893D" >
                            <td><div class="vege"><img src="img/ziola/rukiewwodna.jpg" alt="rukiewwodna" width="70" height="60"></div></td>
                            <td>Rukiew wodna</td>
                            <td>11</td>
                            <td>2,30</td>
                            <td>0,20</td>
                            <td>120</td>
                            <td>60</td>
                            <td>43</td>
                            <td>235</td>
                            <td>310</td>
                            <td>2,0:1</td>
                            <td>C</td>
                            <td>-</td>
                        </tr>        
                </table>
                <br>
                <div class="imgwpis">
                    <img src="img/ziola/ziola4.jpg" width="1000" height="300">
                </div>
                <div class="pytanie" id=ziola4>
                    <h2>
                        Ryzyko wiązane z ziołami </h2>
                </div>
                <div class="opis">
                    <p>Jeśli dokonujemy samodzielnie ich zbioru,
                        musimy zadbać o bezpieczeństwo pupila. Nie pozyskujmy nigdy zieleniny ze skażonych czy silnie zanieczyszczonych obszarów. 
                       Niektóre zioła można z powodzeniem uprawiać w doniczkach. Dla gryzonia warto również zakupić suszone zioła w postaci specjalnych
                        mieszanek. Tego typu produkty są skomponowane z różnorodnych surowców, dlatego dostarczają zwierzakom wszystkich niezbędnych
                        składników we właściwych proporcjach. Mieszanki ziołowe długo zachowują także świeżość i wysoką wartość odżywczą. 
                       Problemu nie nastręcza ich przechowywania ani podawanie. </p>
                       
                       <p>Jeżeli świnka morska nie jest zaznajomiona z ziołami należy podawać je małymi procjami i z czasem zwiększyć częstotliwość występowania ich w diecie, tak aby uniknąć wystąpienia 
                       biegunki.
                       Zieleninę warto też dopasować do stanu zdrowia 
                       gryzonia. Jeśli zwierzak ma problemy z przewodem pokarmowym, możemy serwować mu rośliny poprawiające trawienie czy
                        łagodzące dolegliwości żołądkowo-jelitowe. Takie działanie wykazują m.in. mięta, dziurawiec, jeżówka, babka lancetowata,
                        cykoria czy liście jeżyn. </p>
                        
                    </div>          
            </section>
        </article>
    </div>
</main>
<footer>
<div class="footer">DBAJMY O NASZE ŚWINIACZKI
    <div class="footer1">Wszystkie prawa zastrzeżone, 2020 </div>
</div>
</footer>



</body>
</html>