
{% extends "base.html" %}  




    <!--<div class="container3">
        <div class="container2">
            <header>   
                <div class="banner">
                    <a href="#" class="scrollup"></a>
                    <figure>
                        <a href="#"><img class="banner1" src=img/warzywa/zywieniewpis.jpg width="800" height="300"></a>
                        <a href="#" class="link1"><p>Jakie warzywa może jeść kawia domowa?</p></a>
                    </figure>
                </div>
            </header>    
        </div>
    </div> -->
    {% block bannersrc %} {{url_for('static',filename='img/warzywa/zywieniewpis.jpg')}} {% endblock %}
    {% block title %} Jakie warzywa może jeść kawia domowa?{% endblock %}


     
     <!--<div class="sticker1">
        <nav>
            <ol class="wpis">
                <li><a href="#"> Główna</a></li>
                <li><a href="#">Żywienie</a>
                    <ul>
                        <li><a href="#"> Siano </a></li>
                        <li><a href="#"> Karma</a></li>
                        <li><a href="#"> Warzywa</a></li>
                        <li><a href="#"> Owoce</a></li>
                    </ul>
                </li>    
                <li><a href="#">Pielęgnacja</a>
                    <ul>
                        <li><a href="#">Stado</a></li>
                        <li><a href="#"> Klatka</a></li>
                        <li><a href="#"> Opieka</a></li>
                    </ul>
                </li>    
                <li><a href="#"> Zdrowie</a>
                    <ul>
                        <li><a href="#">Choroby</a></li>
                        <li><a href="#"> Lekarstwa</a></li>
                        <li><a href="#"> Alergie</a></li>
                    </ul>
                </li>    
                <li><a href="#"> Inne</a></li>
                <li><a href="#"> Galeria</a></li>
            </ol>
        
        </nav>
    </div> -->
 
    

         <!--<div class="container1">
            <article>
                <header>
                    <br>
                    <div class="pytanie1">
                        <h2> Instrukcje pomagające skomponować idealną warzywną dietę dla Twojego prosiaczka.    Zapoznaj się z nimi dokładnie i w razie wątpliwości zasięgnij opinii weterynarza, aby Twoje zwierzątko mogło cieszyć 
                            się zdrowym, długim i szczęśliwym życiem! </h2>
                    </div>
                </header>  -->
        {% block opis %} Instrukcje pomagające skomponować idealną warzywną dietę dla Twojego prosiaczka.    Zapoznaj się z nimi dokładnie i w razie wątpliwości zasięgnij opinii weterynarza, aby Twoje zwierzątko mogło cieszyć
                            się zdrowym, długim i szczęśliwym życiem! {% endblock %}


                    <!--<div class="tresc">
                        <div class="opis">
                            Spis treści:
                            <ol>
                                <li><a id="link1" href="#warzywa1">Jaka ilość warzyw będzie odpowiednia dla mojej świnki?</a> </li>
                                <li><a id="link2" href="#warzywa2">Dlaczego zbilansowana dieta jest taka ważna?</a></li>
                                <li><a id="link3" href="#warzywa3">Tak wiele możliwości!</a></li>
                                <li><a id="link4" href="#warzywa4">Tabela uwzględniająca składniki odżywcze poszczególnych warzyw.</a></li>
                                <li><a id="link5" href="#warzywa5">Czego kategorycznie nie powinna jeść świnka morska?</a></li>
                            </ol>
                        </div> -->
                        {% block pyt1 %} Jaka ilość warzyw będzie odpowiednia dla mojej świnki?{% endblock %} }}
                        {% block pyt2 %} Dlaczego zbilansowana dieta jest taka ważna? {% endblock %}
                        {% block pyt3 %} Tak wiele możliwości! {% endblock %}
                        {% block pyt4 %} Tabela uwzględniająca składniki odżywcze poszczególnych warzyw.{% endblock %}
                        {% block pyt5 %} Czego kategorycznie nie powinna jeść świnka morska? {% endblock %}


                        <!-- <div class="imgwpis">
                            <img src="img/warzywa/warzywa3.jpg" width="1000" height="300">
                        </div> -->
                        {% block imgsrc1 %} {{url_for('static',filename='img/warzywa/warzywa3.jpg')}}{% endblock %}


                    <!-- <div class="pytanie" id=warzywa1>
                            <h2> Jaka ilość warzyw będzie odpowiednia dla mojej świnki?</h2>
                        </div>
                        <div class="opis">
                            <p>  Warzywa są w diecie świnki morskiej doskonałym źródłem kluczowych mikroelementów takich jak witaminy i minerały. Są również świetnym sposobem aby wprowadzić do jadłospisu świnki 
                            trochę różnorodności. Warzywa powinny stanowić ok. 10% całkowitej objętości jedzenia spożywanego przez gryzonie (najwięcej bo ok. 70% powinno stanowić siano a resztę sucha karma i owoce).
                            Zaleca się podawanie połowy kubka warzyw i zieleniny na każde 0,5kg wagi ciała Twojego zwierzaka. Zielone, jadalne części roślin powinny stanowić znaczną większczość podawanych warzyw, 
                            resztę będą stanowiły warzywa korzeniowe. Czyli świnka ważąca 1 kg powinna dostawać prawie cały kubek zieleniny i dodatkowe 2 łyżki kuchanne warzyw korzennych. 
                            </p> 
                        </div>
                        <div class="imgwpis">
                            <img src="img/warzywa/warzywa2.jpg" width="1000" height="300">
                        </div>
                        <div class="pytanie" id=warzywa2>
                            <h2> Dlaczego zbilansowana dieta jest taka ważna?</h2>
                        </div>
                        <div class="opis">
                            <p>Z pewnością chcemy zabezpieczyć naszych małych przyjaciół przed różnego typu chorobami układu pokarmowego i moczowego, które mogą wynikać z niedoborów lub nadmiaru różnych substancji.
                            Odpowiednia dieta ma odżywiać i polepszać stan skóry, futra, zębów oraz zwiększać energię i wewnętrzne zdrowie naszego futrzaka. 
                            </p>
                            <p>
                            Chociaż wymienione w tym artykule warzywa ogólnie są uznawane za odpowiednią opcją dla naszego zwierzaka, zawsze warto jest dopasować dietę do jego indywidualnych potrzeb. Dla przykładu
                            warzywa bogate w wapń i kwas szczawiowy powinny być znacznie ograniczone lub całkowicie odstawione jeśli nasza świnka miała kiedyś problemy z kamieniami nerkowymi. Tak samo bardzo kaloryczne
                            warzywa bogate w cukier nie powinny być podawane świnkom, które mają problem z nadmierną wagą ciała. 
                            </p>
                        </div>
                        <div class="imgwpis">
                            <img src="img/warzywa/warzywa1.jpg" width="1000" height="300">
                        </div>
                        <div class="pytanie" id=warzywa3>
                            <h2>Tak wiele możliwości!</h2>
                        </div>
                        <div class="opis">
                            <p>
                            Różnorodność w diecie jest bardzo ważna w życiu, również dla naszych pupili.  Oczywiście powinniśmy stopniowo przedstawiać nowe smakołyki naszym świnkom aby nie przeciążyć ich układu pokarmowego. Szybkie zmiany mogą sprawić, że zwierzak pochoruje się i nie będzie chciał już więcej spróbować danego warzywa.</p>
                            <p>Kolejnym problemem może być brak zainteresowania świnki nowym pożywieniem. Niektóre zwierzątka są ciekawskie i odważne, a inne bardzo podejrzliwe i w ciemno nie uwierzą, że ten nowy przedmiot
                            koło ich pyszczka jest jadalny. Warto wtedy pociąć warzywo na malutkie kawałeczki i położyć obok znanego im jedzenia. Zachowując powyższe zasady ważne jest, aby karmić naszego zwierzaka różnymi typami warzyw. Zdecydowanie ubogaci to jego świat i sprawi, że będzie on ciągle zainteresowany swoją dietą. 
                            Podczas gdy wiele roślin zawiera podobne składniki odżywcze, zawsze możemy eksperymentować z ich aromatem, smakiem i teksturą. Śmiało sprawdzajmy zatem co nasze świnki
                            lubią najbardziej!
                            </p>
                        </div> -->
                    {% block imgsrc2 %} {{url_for('static',filename='img/warzywa/warzywa2.jpg')}}{% endblock %}
                    {% block imgsrc3 %} {{url_for('static',filename='img/warzywa/warzywa1.jpg')}}{% endblock %}

                    {% block odp1 %} Warzywa są w diecie świnki morskiej doskonałym źródłem kluczowych mikroelementów takich jak witaminy i minerały. Są również świetnym sposobem aby wprowadzić do jadłospisu świnki
                            trochę różnorodności. Warzywa powinny stanowić ok. 10% całkowitej objętości jedzenia spożywanego przez gryzonie (najwięcej bo ok. 70% powinno stanowić siano a resztę sucha karma i owoce).
                            Zaleca się podawanie połowy kubka warzyw i zieleniny na każde 0,5kg wagi ciała Twojego zwierzaka. Zielone, jadalne części roślin powinny stanowić znaczną większczość podawanych warzyw,
                            resztę będą stanowiły warzywa korzeniowe. Czyli świnka ważąca 1 kg powinna dostawać prawie cały kubek zieleniny i dodatkowe 2 łyżki kuchanne warzyw korzennych.  {% endblock %}
                    {% block odp2 %} Z pewnością chcemy zabezpieczyć naszych małych przyjaciół przed różnego typu chorobami układu pokarmowego i moczowego, które mogą wynikać z niedoborów lub nadmiaru różnych substancji.
                            Odpowiednia dieta ma odżywiać i polepszać stan skóry, futra, zębów oraz zwiększać energię i wewnętrzne zdrowie naszego futrzaka.
                            </p>
                            <p>
                            Chociaż wymienione w tym artykule warzywa ogólnie są uznawane za odpowiednią opcją dla naszego zwierzaka, zawsze warto jest dopasować dietę do jego indywidualnych potrzeb. Dla przykładu
                            warzywa bogate w wapń i kwas szczawiowy powinny być znacznie ograniczone lub całkowicie odstawione jeśli nasza świnka miała kiedyś problemy z kamieniami nerkowymi. Tak samo bardzo kaloryczne
                            warzywa bogate w cukier nie powinny być podawane świnkom, które mają problem z nadmierną wagą ciała.  {% endblock %}
                    {% block odp3 %} Różnorodność w diecie jest bardzo ważna w życiu, również dla naszych pupili.  Oczywiście powinniśmy stopniowo przedstawiać nowe smakołyki naszym świnkom aby nie przeciążyć ich układu pokarmowego. Szybkie zmiany mogą sprawić, że zwierzak pochoruje się i nie będzie chciał już więcej spróbować danego warzywa.</p>
                            <p>Kolejnym problemem może być brak zainteresowania świnki nowym pożywieniem. Niektóre zwierzątka są ciekawskie i odważne, a inne bardzo podejrzliwe i w ciemno nie uwierzą, że ten nowy przedmiot
                            koło ich pyszczka jest jadalny. Warto wtedy pociąć warzywo na malutkie kawałeczki i położyć obok znanego im jedzenia. Zachowując powyższe zasady ważne jest, aby karmić naszego zwierzaka różnymi typami warzyw. Zdecydowanie ubogaci to jego świat i sprawi, że będzie on ciągle zainteresowany swoją dietą.
                            Podczas gdy wiele roślin zawiera podobne składniki odżywcze, zawsze możemy eksperymentować z ich aromatem, smakiem i teksturą. Śmiało sprawdzajmy zatem co nasze świnki
                            lubią najbardziej! {% endblock %}

                        
                    <!--    <div class="pytanie" id=warzywa4>
                            <h2> Tabela uwzględniająca składniki odżywcze poszczególnych warzyw.</h2>
                        </div>
                        <div class="opis">
                            <p>Komentarze do tabelki:</p>
                            <ul>
                                <li>podane wartości składników odżywczych odnoszą się do 100g produktu (wyjątki są oznaczone)</li>
                                <li>stosuj produkty o niskiej zawartości wapnia (Ca), który może się nagromadzać powodując kamienie i osad w przewodzie moczowym</li>
                                <li>stosuj produkty o niskiej zawartości kwasu szczawiowego, który może łączyć się z wapniem tworząc osad złożony z kryształów szczawianu wapnia</li>
                                <li>staraj się zachować równowagę pomiędzy wapniem i fosforem (Ca:P), utzymując całkowity stosunek pomiędzy 1,5:1 a 2:1</li>
                                <li>unikaj podawania dużych porcji produktów bogatych w cukier i skrobie</li>
                                <li>produkty podajemy w stanie surowym</li>
                                <li>kliknij na nagłówki kolumny aby posortować wartości od najmniejszej do największej</li>
                                <li>najedź kursorem na obrazek produktu aby powiększyć</li>
                            </ul>
                        </div>
                        <p>Produkty podzielono na następujące grupy:</p>
                        <table>
                            <tr>
                                <th>Nazwa grupy</th>
                                <th>Częstotliwość podawania</th>
                            </tr>
                            <tr bgcolor="lightgreen">
                                <td style="text-align: center;">A</td>
                                <td>podawaj codziennie</td>
                            </tr>
                            <tr bgcolor="#FFFA5E">
                                <td style="text-align: center;">B</td>
                                <td>podawaj często, 2-4 razy na tydzień</td>
                            </tr>
                            <tr bgcolor="#FF893D">
                                <td style="text-align: center;">C</td>
                                <td>podawaj okazjonalnie. 1-2 razy na tydzień</td>
                            </tr>
                            <tr bgcolor="#FF2A2A">
                                <td style="text-align: center;">D</td>
                                <td>podawaj rzadko, 1-2 razy na miesiąc</td>
                            </tr>
                            
                        </table>

                    </div> -->

                                {% block table %}
                    <table class="sortable">
                        <tr>
                          <th>Zdjęcie</th>
                          <th>Warzywo</th>
                          <th>Kalorie</th>
                          <th>P<br> (g)</th>
                          <th>S (g)</th>
                          <th>Ca (mg)</th>
                          <th>P (mg)</th>
                          <th>Wit. C (mg)</th>
                          <th>Wit. A (mg)</th>
                          <th>Kwas szczawiowy (mg)</th>
                          <th>Stosunek Ca:P</th>
                          <th>Grupa</th>
                          <th>Komentarz</th>
                        </tr>
                        <tr bgcolor="#FFFA5E" >
                          <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/karczoch.jpg')}}  alt="karczoch" width="70" height="60"></div></td>
                          <td>Karczoch</td>
                          <td>47</td>
                          <td>3,27</td>
                          <td>0</td>
                          <td>44</td>
                          <td>90</td>
                          <td>11,7</td>
                          <td>0</td>
                          <td>-</td>
                          <td>0,5:1</td>
                          <td>B</td>
                          <td>-</td>
                        </tr>
                        <tr bgcolor="#FF893D">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/szparagi.jpg')}} alt="szparagi" width="70" height="60"></div></td>
                            <td>Szparagi</td>
                            <td>20</td>
                            <td>2,20</td>
                            <td>1,88</td>
                            <td>24</td>
                            <td>52</td>
                            <td>5,6</td>
                            <td>38</td>
                            <td>130</td>
                            <td>0,5:1</td>
                            <td>C</td>
                            <td>-</td>  
                        </tr>
                        <tr bgcolor="#FFFA5E">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/fasolka.jpg')}} alt="fasola" width="70" height="60"></div></td>
                            <td>Fasola</td>
                            <td>31</td>
                            <td>1,82</td>
                            <td>1,40</td>
                            <td>37</td>
                            <td>38</td>
                            <td>16,3</td>
                            <td>35</td>
                            <td>360</td>
                            <td>1,0:1</td>
                            <td>B</td>
                            <td>1-2 strączki na świnke</td>
                            
                        </tr>
                        <tr bgcolor="#FF893D">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/burak.jpg')}} alt="burak" width="70" height="60"></div></td>
                            <td>Burak</td>
                            <td>43</td>
                            <td>1,61</td>
                            <td>6,76</td>
                            <td>16</td>
                            <td>40</td>
                            <td>4,9</td>
                            <td>2</td>
                            <td>-</td>
                            <td>0,4:1</td>
                            <td>C</td>
                            <td>zalecane podawanie ciężarnym i karmiącym samiczkom, pomocny w leczeniu anemii,pobudza apetyt, przydatny dla niejadków i świnek anorektycznych</td>
                        </tr>
                        <tr bgcolor="#FF893D">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/brokul.jpg')}} alt="brokul" width="70" height="60"></div></td>
                            <td>Brokuł</td>
                            <td>34</td>
                            <td>2,82</td>
                            <td>1,70</td>
                            <td>47</td>
                            <td>66</td>
                            <td>89,2</td>
                            <td>33</td>
                            <td>190</td>
                            <td>0,7:1</td>
                            <td>C</td>
                            <td>bardzo gazotwórczy, tylko małe ilości</td>
                        </tr>
                        <tr bgcolor="#FF893D">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/brukselka.jpg')}} alt="brukselka" width="70" height="60"></div></td>
                            <td>Brukselka</td>
                            <td>43</td>
                            <td>3,38</td>
                            <td>2,20</td>
                            <td>42</td>
                            <td>69</td>
                            <td>85</td>
                            <td>38</td>
                            <td>360</td>
                            <td>0,6:1</td>
                            <td>C</td>
                            <td>bardzo gazotwórcza, tylko małe ilości</td>
                        </tr>
                        <tr bgcolor="#FFFA5E">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/kapustabiala.jpg')}} alt="kapusta biala" width="70" height="60"></div></td>
                            <td>Kapusta biała</td>
                            <td>24</td>
                            <td>1,44</td>
                            <td>3,58</td>
                            <td>47</td>
                            <td>23</td>
                            <td>32,2</td>
                            <td>9</td>
                            <td>100</td>
                            <td>2,0:1</td>
                            <td>B</td>
                            <td>bardzo gazotwórcza, tylko małe ilości</td>
                        </tr>
                        <tr bgcolor="#FFFA5E">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/kapustaczerwona.jpg')}} alt="kapusta czerwona" width="70" height="60"></div></td>
                            <td>Kapusta czerwona</td>
                            <td>31</td>
                            <td>1,43</td>
                            <td>3,91</td>
                            <td>45</td>
                            <td>30</td>
                            <td>57</td>
                            <td>56</td>
                            <td>100</td>
                            <td>1,5:1</td>
                            <td>B</td>
                            <td>bardzo gazotwórcza, tylko małe ilości</td>
                        </tr>
                        <tr bgcolor="#FFFA5E">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/kapustawloska.jpg')}} alt="kapusta wloska" width="70" height="60"></div></td>
                            <td>Kapusta włoska</td>
                            <td>27</td>
                            <td>2,00</td>
                            <td>2,27</td>
                            <td>35</td>
                            <td>42</td>
                            <td>31</td>
                            <td>50</td>
                            <td>100</td>
                            <td>0,8:1</td>
                            <td>B</td>
                            <td>bardzo gazotwórcza, tylko małe ilości</td>
                        </tr>
                        <tr bgcolor="#FF893D" >
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/kapustachinska.jpg')}} alt="kapusta chinska" width="70" height="60"></div></td>
                            <td>Kapusta chińska</td>
                            <td>13</td>
                            <td>1,50</td>
                            <td>1,18</td>
                            <td>105</td>
                            <td>37</td>
                            <td>45</td>
                            <td>223</td>
                            <td>-</td>
                            <td>2,8:1</td>
                            <td>C</td>
                            <td>bardzo gazotwórcza, tylko małe ilości</td>
                        </tr>
                        <tr bgcolor="lightgreen">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/marchew.jpg')}} alt="marchew" width="70" height="60"></div></td>
                            <td>Marchew (młoda)</td>
                            <td>1</td>
                            <td>0,06</td>
                            <td>0,48</td>
                            <td>3</td>
                            <td>3</td>
                            <td>0,8</td>
                            <td>69</td>
                            <td>50</td>
                            <td>1,0:1</td>
                            <td>A</td>
                            <td>nie powoduje wzdęć, zaparć ani biegunek, poprawia trawienie, wspomaga leczenie biegunki.</td>
                        </tr>
                        <tr bgcolor="#FF893D">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/kalafior.jpg')}} alt="kalafior" width="70" height="60"></div></td>
                            <td>Kalafior</td>
                            <td>25</td>
                            <td>1,98</td>
                            <td>2,40</td>
                            <td>22</td>
                            <td>44</td>
                            <td>46,4</td>
                            <td>1</td>
                            <td>150</td>
                            
                            <td>0,5:1</td>
                            <td>C</td>
                            <td>bardzo gazotwórcza, tylko małe ilości</td>
                        </tr>
                        <tr bgcolor="#FFFA5E">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/selernaciowy.jpg')}} alt="seler naciowy" width="70" height="60"></div></td>
                            <td>Seler naciowy</td>
                            <td>14</td>
                            <td>0,69</td>
                            <td>1,83</td>
                            <td>40</td>
                            <td>24</td>
                            <td>3,1</td>
                            <td>22</td>
                            <td>190</td>
                            <td>1,7:1</td>
                            <td>B</td>
                            <td>potnij w kawałeczki, usuń włókna</td>
                        </tr>
                        <tr bgcolor="#FF893D">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/kukurydza.jpg')}} alt="kukurydza" width="70" height="60"></div></td>
                            <td>Kukurydza</td>
                            <td>77</td>
                            <td>2,90</td>
                            <td>2,90</td>
                            <td>2</td>
                            <td>80</td>
                            <td>6,1</td>
                            <td>9</td>
                            <td>009</td>
                            <td>0,3:1</td>
                            <td>C</td>
                            <td>mogą być karmione codziennie łuskami i jedwabiem kukurydzy</td>
                        </tr>
                        <tr bgcolor="#FFFA5E">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/ogorek.jpg')}} alt="ogorek" width="70" height="60"></div></td>
                            <td>Ogórek</td>
                            <td>15</td>
                            <td>0,65</td>
                            <td>1,67</td>
                            <td>16</td>
                            <td>24</td>
                            <td>2,8</td>
                            <td>5</td>
                            <td>020</td>
                            <td>0,7:1</td>
                            <td>B</td>
                            <td>świetny przysmak przy oswajaniu świnek, „nawadniacz" dla niepijących świnek</td>
                        </tr>
                        <tr bgcolor="#FFFA5E">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/groszek.jpg')}} alt="groszek" width="70" height="60"></div></td>
                            <td>Groszek</td>
                            <td>42</td>
                            <td>2,80</td>
                            <td>4,00</td>
                            <td>43</td>
                            <td>53</td>
                            <td>60</td>
                            <td>54</td>
                            <td>050</td>
                            
                            <td>0,8:1</td>
                            <td>B</td>
                            <td>1-2 strączki na świnkę</td>
                        </tr>
                        <tr bgcolor="lightgreen">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/paprykazielona.jpg')}} alt="papryka zielona" width="70" height="60"></div></td>
                            <td>Papryka zielona</td>
                            <td>20</td>
                            <td>0,86</td>
                            <td>2,40</td>
                            <td>10</td>
                            <td>20</td>
                            <td>80,4</td>
                            <td>18</td>
                            
                            <td>040</td>
                            <td>0,5:1</td>
                            <td>A</td>
                            <td>warzywo najbogatsze w witaminę C - świetny zamiennik dla sztucznej witaminy w płynie</td>
                        </tr>
                        <tr bgcolor="lightgreen">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/paprykazolta.jpg')}} alt="papryka zolta" width="70" height="60"></div></td>
                            <td>Papryka żółta</td>
                            <td>27</td>
                            <td>1,00</td>
                            <td>-</td>
                            <td>11</td>
                            <td>24</td>
                            <td>183</td>
                            <td>10</td>
                            <td>0,40</td>
                            <td>0,5:1</td>
                            <td>A</td>
                            <td>warzywo najbogatsze w witaminę C - świetny zamiennik dla sztucznej witaminy w płynie</td>
                        </tr>
                        <tr bgcolor="#FFFA5E">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/paprykaczerwona.jpg')}} alt="papryka czerwona" width="70" height="60"></div></td>
                            <td>Papryka czerwona</td>
                            <td>26</td>
                            <td>0,99</td>
                            <td>4,20</td>
                            <td>7</td>
                            <td>26</td>
                            <td>190</td>
                            <td>157</td>
                            <td>040</td>
                            <td>0,3:1</td>
                            <td>B</td>
                            <td>oprócz wit. C dodatkowo wysoka zawartość cukru</td>
                        </tr>
                        <tr bgcolor="#FF893D">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/dynia.jpg')}} alt="dynia" width="70" height="60"></div></td>
                            <td>Dynia</td>
                            <td>26</td>
                            <td>1,00</td>
                            <td>1,36</td>
                            <td>21</td>
                            <td>44</td>
                            <td>9</td>
                            <td>369</td>
                            <td>-</td>
                            <td>0,5:1</td>
                            <td>C</td>
                            <td>pestki dyni tuczą, ale pomagają zabić pasożyty w jelitach, reguluje wydzielanie hormonów i wit.D</td>
                        </tr>
                        <tr bgcolor="lightgreen">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/cykoria.jpg')}} alt="cykoria" width="70" height="60"></div></td>
                            <td>Cykoria sałatowa</td>
                            <td>23</td>
                            <td>1,43</td>
                            <td>0,60</td>
                            <td>19</td>
                            <td>40</td>
                            <td>8</td>
                            <td>1</td>
                            <td>-</td>
                            <td>0,5:1</td>
                            <td>A</td>
                            <td>-</td>
                        </tr>
                        <tr bgcolor="#FFFA5E">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/zodkiewka.jpg')}} alt="zodkiewka" width="70" height="60"></div></td>
                            <td>Rzodkiewka</td>
                            <td>16</td>
                            <td>0,68</td>
                            <td>2,12</td>
                            <td>25</td>
                            <td>20</td>
                            <td>14,8</td>
                            <td>0</td>
                            <td>480</td>
                            <td>1,3:1</td>
                            <td>B</td>
                            <td>wysoka zawartość szczawianów, ma lekko piekący smak, zwiększa apetyt oraz poprawia pamięć</td>
                        </tr>
                        <tr bgcolor="#FF2A2A">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/batat.jpg')}} alt="batat" width="70" height="60"></div></td>
                            <td>Batat</td>
                            <td>86</td>
                            <td>1,57</td>
                            <td>4,18</td>
                            <td>30</td>
                            <td>47</td>
                            <td>2,4</td>
                            <td>709</td>
                            <td>240</td>
                            <td>0,6:1</td>
                            <td>D</td>
                            <td>wysoka zawartość cukru i szczawianów</td>
                        </tr>
                        <tr bgcolor="#FFFA5E">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/pomidor.jpg')}} alt="pomidor" width="70" height="60"></div></td>
                            <td>Pomidor</td>
                            <td>18</td>
                            <td>0,88</td>
                            <td>2,63</td>
                            <td>10</td>
                            <td>24</td>
                            <td>12,7</td>
                            <td>42</td>
                            <td>-</td>
                            <td>0,4:1</td>
                            <td>B</td>
                            <td>nadmiar potasu, którego jest dużo w pomidorach, może zaburzać pracę nerek i serca, szypułki i liście trujące dla świnek.</td>
                        </tr>
                        <tr bgcolor="#FF893D">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/rzepa.jpg')}} alt="rzepa" width="70" height="60"></div></td>
                            <td>Rzepa</td>
                            <td>28</td>
                            <td>0,90</td>
                            <td>3,80</td>
                            <td>30</td>
                            <td>27</td>
                            <td>21</td>
                            <td>0</td>
                            <td>210</td>
                            
                            <td>1,1:1</td>
                            <td>C</td>
                            <td>wysoka zawartość cukru i szczawianów, spora ilość wit. C, ma lekko piekący smak,</td>
                        </tr>
                        <tr bgcolor="lightgreen">
                            <td><div class="vege"><img src={{url_for('static',filename='img/warzywa/cukinia.jpg')}} alt="cukinia" width="70" height="60"></div></td>
                            <td>Cukinia</td>
                            <td>16</td>
                            <td>1,21</td>
                            <td>1,73</td>
                            <td>15</td>
                            <td>38</td>
                            <td>17</td>
                            <td>10</td>
                            <td>020</td>
                            <td>0,4:1</td>
                            <td>A</td>
                            <td>-</td>
                        </tr>
                    </table> {% endblock %}
                    
                    <!-- <div class="trescleft">
                        <div class="pytanieleft" id="warzywa5">
                        <h2> Czego kategorycznie nie powinna jeść świnka morska?</h2>  
                        </div>
                        <ul class="zwyklalista">
                            <li>WSZYSTKIEGO CZEGO NIE JESTEŚ PEWIEN!</li>
                            <li>czosnek (oraz wszystko z rodziny czosnkowatych: cebula, szczypior itp.)</li>
                            <li>sałata lodowa</li>
                            <li>awokado</li>
                            <li>ziemniak</li>
                            <li>rabarbar</li>
                            <li>orzechy</li>   
                        </ul>
                    </div>
                     <div class="imgleft">
                        <img src="img/warzywa/warzywa4.jpg" width="200" height="250">
                    </div>  
                    <div style="clear:both"></div>              
                </section>
            </article>
        </div>
    </main>
<footer>
    <div class="footer">DBAJMY O NASZE ŚWINIACZKI
        <div class="footer1">Wszystkie prawa zastrzeżone, 2020 </div>
    </div>
</footer> -->
                    {% block odp5 %} <ul class="zwyklalista">
                            <li>NICZEGO CZEGO NIE JESTEŚ PEWIEN!</li>
                            <li>czosnek (oraz wszystko z rodziny czosnkowatych: cebula, szczypior itp.)</li>
                            <li>sałata lodowa</li>
                            <li>awokado</li>
                            <li>ziemniak</li>
                            <li>rabarbar</li>
                            <li>orzechy</li>
                        </ul> {% endblock %}

